body {
	background-color: #00ff00;
}

.todo-app-background {
	background-color: white;
	padding: 100px;
	margin: 100px 300px;
}

.todo-app-foreground {
	background-color: #DCDCDC;
	border: 1px solid black;
	border-radius: 20px;
}

.header {
	text-align: center;
}

.destroy {
	background-color: #F08080;
	border-radius: 0px 10px 10px 0px;
	float: right;
	font-size: 12px;
	padding: 4px;
}

a {
	color: black;
	text-decoration: none;
}

.todo-item {
	background-color: #FFFAFA;
	border-radius: 10px;
	margin: 10px;
}

.main {
	margin: 30px;
}

.footer {
	text-align: center;
}
